.App {
  text-align: center;
}

.App-logo {
  width: 120px;
  height: 120px;
  object-fit: contain;
  pointer-events: none;
  border-radius: 50%;
  box-shadow: rgba(0, 0, 0, 0.25) 0px 54px 55px, rgba(0, 0, 0, 0.12) 0px -12px 30px, rgba(0, 0, 0, 0.12) 0px 4px 6px, rgba(0, 0, 0, 0.17) 0px 12px 13px, rgba(0, 0, 0, 0.09) 0px -3px 5px;
}

.App-header {
  background-color: #0e42ab;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 1vmin);
  color: white;
  border-radius: 50px;
}
.App-logo-container {
  display: flex;
  justify-content: center;
  align-items: center;
  margin-bottom: 20px;
  gap: 50px;
  box-shadow: 0px 0px 90px rgb(0, 217, 255);
  border-radius: 50px;
}
.App-logo-container:hover {
  box-shadow: 0px 0px 90px rgb(255, 0, 0);
  border-radius: 50px;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: row;
  gap: 50px;
  transition: box-shadow 0.3s ease-in-out, border-radius 0.3s ease-in-out;
  transform: scale(1.05);
  transition: transform 0.3s ease-in-out;
  cursor: pointer;
  /*speed incresse */
  
}
.App-logo-container:hover .App-logo {
  scale: 1.1;
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}